@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

body {
  font-family: "Nunito", sans-serif;
  color: #384047;
  margin-bottom: 1vh;
}

form {
  max-width: 30vw;
  margin-top: 6vh;
  margin-left: auto;
  margin-right: auto;
  padding: 1.1vh 2.2vh;
  background: #f4f7f8;
  border-radius: 8px;
  margin-bottom: 4vh;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="address"],
select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 1.76vh;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 1.66vh;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 1vh;
  margin-top: 1vh;
}

input[type="file"] {
  font-size: 1.76vh;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 1.66vh;
  width: 100%;
}

fieldset {
  margin-bottom: 3.31vh;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 2vh;
  font-family: Pacifico;
}

label {
  display: block;
  margin-top: 2.8vh;
  margin-bottom: 8px;
  font-family: Acme;
}

.number {
  background-color: lime;
  border-radius: 70%;
  padding: 0.5vh;
}

textarea {
  width: 100%;
  height: 16.54vh;
  border-radius: 0.4vh;
  box-sizing: border-box;
  border: 0.2vh solid #ccc;
}

.btn:hover {
  cursor: pointer;
  color: #f4f7f8;
}

@media screen and (min-width: 480px) {
  form {
    max-width: 480px;
  }
}

@media screen and (min-width: 780px) {
  form {
    max-width: 600px;
  }
}

@media screen and (min-width: 150px) {
  form {
    max-width: 390.625vw;
  }
}

label.error.fail-alert {
  color: red;
  line-height: 1;
}

input.valid.success-alert {
  border: 2px solid #4caf50;
  color: green;
}

input.error,
textarea.error {
  border: 2px solid red;
  font-weight: 300;
  color: red;
}
